{
    "info": {
        "title": "CYBERBIZ API v1 參考文件",
        "description": " \u003cdiv class='information'\u003e \u003ch3\u003e基本資訊\u003c/h3\u003e \u003col\u003e \u003cli\u003eAPI 目標網址為 https://api.cyberbiz.co\u003c/li\u003e \u003cli\u003e編碼一律使用 UTF-8\u003c/li\u003e \u003c/ol\u003e \u003c/div\u003e \u003cdiv class='authorization'\u003e \u003ch3\u003e驗證機制\u003c/h3\u003e \u003cp\u003eAPI 使用 hmac 做簽名，需要了解當前使用的 request-line，並加入 3 個 Header\u003c/p\u003e \u003ctable style='width: 100%;'\u003e \u003cthead\u003e \u003ctr\u003e \u003cth style='width: 35%;'\u003eRequestLine 格式\u003c/th\u003e \u003cth style='width: 30%;'\u003e參數名稱\u003c/th\u003e \u003cth style='width: 35%;'\u003e參數描述\u003c/th\u003e \u003c/tr\u003e \u003c/thead\u003e \u003ctbody\u003e \u003ctr\u003e \u003ctd\u003e \u003cpre\u003e{{http_method}} {{request_path}} {{protocol_version}}\u003c/pre\u003e \u003cp\u003e範例:\u003c/p\u003e \u003cpre\u003eGET /v1/customers HTTP/1.1\u003c/pre\u003e \u003c/td\u003e \u003ctd\u003e \u003cb\u003ehttp_method\u003c/b\u003e \u003cbr\u003e \u003cb\u003erequest_path\u003c/b\u003e \u003cbr\u003e \u003cb\u003eprotocol_version\u003c/b\u003e \u003c/td\u003e \u003ctd\u003e \u003cp\u003e\u003ccode\u003ehttp_method\u003c/code\u003e 請帶入發出的請求方法\u003c/p\u003e \u003cp\u003e類型請參考 [HTTP Request Methods](//developer.mozilla.org/en-US/docs/Web/HTTP/Methods)\u003c/p\u003e \u003cpre\u003e http_method = 'GET' \u003c/pre\u003e \u003cp\u003e\u003ccode\u003erequest_path\u003c/code\u003e 請帶入發出的請求路徑\u003c/p\u003e \u003cpre\u003e request_path = '/v1/customers' \u003c/pre\u003e \u003cp\u003e\u003ccode\u003eprotocol_version\u003c/code\u003e 請帶入發出請求的協議方式\u003c/p\u003e \u003cp\u003e請參考 [HTTP Protocol](//developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Evolution_of_HTTP)\u003c/p\u003e \u003cpre\u003e protocol_version = 'HTTP/1.1' \u003c/pre\u003e \u003c/td\u003e \u003c/tr\u003e \u003c/tbody\u003e \u003c/table\u003e \u003ctable style='width: 100%;'\u003e \u003cthead\u003e \u003ctr\u003e \u003cth style='width: 35%;'\u003eHeader 格式\u003c/th\u003e \u003cth style='width: 30%;'\u003e參數名稱\u003c/th\u003e \u003cth style='width: 35%;'\u003e參數描述\u003c/th\u003e \u003c/tr\u003e \u003c/thead\u003e \u003ctbody\u003e \u003ctr\u003e \u003ctd\u003e \u003cpre\u003eX-Date: {{x_date}}\u003c/pre\u003e \u003cp\u003e範例:\u003c/p\u003e \u003cpre\u003eX-Date: Tue, 10 Oct 2017 00:00:00 GMT\u003c/pre\u003e \u003c/td\u003e \u003ctd\u003e \u003cb\u003ex_date\u003c/b\u003e \u003c/td\u003e \u003ctd\u003e \u003cp\u003e\u003ccode\u003ex_date\u003c/code\u003e 請帶入發出請求時的 http header date，以 GMT 表示\u003c/p\u003e \u003cp\u003e格式請參考 [HTTP Header Date](//developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Date)\u003c/p\u003e \u003cpre\u003e x_date = 'Tue, 10 Oct 2017 00:00:00 GMT' \u003c/pre\u003e \u003c/td\u003e \u003c/tr\u003e \u003ctr\u003e \u003ctd\u003e \u003cpre\u003eDigest: SHA-256={{digest}}\u003c/pre\u003e \u003cp\u003e範例:\u003c/p\u003e \u003cpre\u003eDigest: SHA-256=K98E569cl/TcsH+Lz+nWSQtwnjKyhn2YhCYneOqcCuo=\u003c/pre\u003e \u003c/td\u003e \u003ctd\u003e \u003cb\u003edigest\u003c/b\u003e \u003c/td\u003e \u003ctd\u003e \u003cp\u003e\u003ccode\u003edigest\u003c/code\u003e 請帶入 body 經過 sha256 加密並用 base64 編碼後的字串\u003c/p\u003e \u003cp style='color: red;'\u003e(若沒有 body 則不需要此 header)\u003c/p\u003e \u003cpre\u003e body = 'name=Rick' \u003cbr\u003e \u003cbr\u003e digest = base64(SHA-256(body)) = 'K98E569cl/TcsH+Lz+nWSQtwnjKyhn2YhCYneOqcCuo=' \u003c/pre\u003e \u003c/td\u003e \u003c/tr\u003e \u003ctr\u003e \u003ctd\u003e \u003cpre\u003eAuthorization: hmac username=\"{{username}}\", algorithm=\"hmac-sha256\", headers=\"{{headers}}\", signature=\"{{signature}}\"\u003c/pre\u003e \u003cp\u003e範例:\u003c/p\u003e \u003cpre\u003eAuthorization: hmac username=\"apidemo\", algorithm=\"hmac-sha256\", headers=\"x-date request-line\", signature=\"QaL5Waeblib0Jjt1Xb9wS5uDme3v3IBDhraebX3XT9g=\"\u003c/pre\u003e \u003c/td\u003e \u003ctd\u003e \u003cb\u003eusername\u003c/b\u003e \u003cbr\u003e \u003cb\u003eheaders\u003c/b\u003e \u003cbr\u003e \u003cb\u003esignature\u003c/b\u003e \u003c/td\u003e \u003ctd\u003e \u003cp\u003e\u003ccode\u003eusername\u003c/code\u003e 請帶入我們所提供的 username\u003c/p\u003e \u003cpre\u003e username = 'apidemo' \u003c/pre\u003e \u003cp\u003e\u003ccode\u003eheaders\u003c/code\u003e 請參考以下規則\u003c/p\u003e \u003cpre\u003e # 如果沒有 body \u003cbr\u003e headers = 'x-date request-line' \u003cbr\u003e \u003cbr\u003e # 如果有 body \u003cbr\u003e headers = 'x-date request-line digest' \u003c/pre\u003e \u003cp\u003e\u003ccode\u003esignature\u003c/code\u003e 請參考以下簽名方法\u003c/p\u003e \u003cp\u003e變數解釋:\u003c/p\u003e \u003cp\u003esig_str 是將各 headers 的用 \\n 串起來，順序必須與上述 headers 相同\u003c/p\u003e \u003cp\u003e註：各 header 的 key 必須是小寫\u003c/p\u003e \u003cp\u003esecret 為我們所提供之 secret，此處範例為 'apidemo'\u003c/p\u003e \u003cp\u003esignature 是以我們所提供之 secret 對 sig_str 進行 hmac-sha256 加密\u003c/p\u003e \u003cpre\u003e ### 以 GET /v1/customers 為例示範沒有 body 的情況 ### \u003cbr\u003e \u003cbr\u003e sig_str = 'x-date: Tue, 10 Oct 2017 00:00:00 GMT\\nGET /v1/customers HTTP/1.1' \u003cbr\u003e \u003cbr\u003e signature = hmac_sha256(sig_str, secret) = 'QaL5Waeblib0Jjt1Xb9wS5uDme3v3IBDhraebX3XT9g=' \u003cbr\u003e \u003cbr\u003e =============================================== \u003cbr\u003e \u003cbr\u003e ### 以 PUT /v1/customers/1 為例示範有 body 的情況 ### \u003cbr\u003e \u003cbr\u003e sig_str = 'x-date: Tue, 10 Oct 2017 00:00:00 GMT\\nPUT /v1/customers/1 HTTP/1.1\\ndigest: SHA-256=K98E569cl/TcsH+Lz+nWSQtwnjKyhn2YhCYneOqcCuo=' \u003cbr\u003e \u003cbr\u003e signature = hmac_sha256(sig_str, secret) = 'G+Oi8hDKxgcIOsd6mlZpX80SUfLnlOoQVXAcFguCeXk=' \u003c/pre\u003e \u003c/td\u003e \u003c/tr\u003e \u003c/tbody\u003e \u003c/table\u003e \u003c/div\u003e \u003cdiv class='limitation'\u003e \u003ch3\u003eRequest 限制\u003c/h3\u003e \u003col\u003e \u003cli\u003e每秒至多 5 個 Request\u003c/li\u003e \u003cli\u003e每個請求上限為 2 MB (測試帳號 apidemo 上限為 2 KB)\u003c/li\u003e \u003c/ol\u003e \u003c/div\u003e \u003cdiv class='sample-code'\u003e \u003ch3\u003e範例程式碼\u003c/h3\u003e \u003col\u003e \u003cli\u003e[c#](/api/api.cs)\u003c/li\u003e \u003cli\u003e[python](/api/api.py)\u003c/li\u003e \u003cli\u003e[php](/api/api.php)\u003c/li\u003e \u003cli\u003e[java](/api/api.java)\u003c/li\u003e \u003c/ol\u003e \u003c/div\u003e ",
        "version": "1.0.0"
    },
    "swagger": "2.0",
    "produces": [
        "application/json"
    ],
    "consumes": [
        "application/json",
        "application/x-www-form-urlencoded"
    ],
    "host": "api.cyberbiz.co",
    "basePath": "/",
    "tags": [
        {
            "name": "assets",
            "description": "儲存檔案相關 API"
        },
        {
            "name": "customers",
            "description": "顧客相關 API"
        },
        {
            "name": "orders",
            "description": "訂單相關 API"
        },
        {
            "name": "order_returns",
            "description": "Translation missing: zh-TW.grape.v1.tags.order_returns"
        },
        {
            "name": "products",
            "description": "商品相關 API"
        },
        {
            "name": "smart_collections",
            "description": "智慧群組相關 API"
        },
        {
            "name": "custom_collections",
            "description": "自訂群組相關 API"
        },
        {
            "name": "special_collections",
            "description": "任選折扣群組相關 API"
        },
        {
            "name": "add_buy_collections",
            "description": "加價購群組相關 API"
        },
        {
            "name": "vip_collections",
            "description": "VIP 設定相關 API"
        },
        {
            "name": "vip_groups",
            "description": "(新版) VIP 設定相關 API"
        },
        {
            "name": "shop_coupons",
            "description": "全館優惠券設定相關 API"
        },
        {
            "name": "pos_shop_coupons",
            "description": "門市優惠券設定相關 API"
        },
        {
            "name": "discounts",
            "description": "全館活動相關 API"
        },
        {
            "name": "einvoices",
            "description": "電子發票相關 API"
        },
        {
            "name": "offline_einvoices",
            "description": "線下發票相關 API"
        },
        {
            "name": "custom_field_types",
            "description": "自訂欄位類型相關 API"
        },
        {
            "name": "pos_shops",
            "description": "POS 商店相關 API (POS 專屬 API)"
        },
        {
            "name": "stock_invoices",
            "description": "出倉單相關 API (POS 專屬 API)"
        },
        {
            "name": "stock_receipts",
            "description": "進倉單相關 API (POS 專屬 API)"
        },
        {
            "name": "stock_requisitions",
            "description": "調倉單相關 API (POS 專屬 API)"
        },
        {
            "name": "stock_adjustments",
            "description": "庫存調整相關 API (POS 專屬 API)"
        },
        {
            "name": "branch_stores",
            "description": "門市資訊相關 API"
        },
        {
            "name": "inventory_sync_groups",
            "description": "庫存同步群組相關 API (需額外付費，若要試用，請洽開店顧問/客服人員)"
        },
        {
            "name": "order_etickets",
            "description": "電子票券相關 API"
        },
        {
            "name": "periodic_orders",
            "description": "定期訂單相關 API"
        },
        {
            "name": "bonus_rule",
            "description": "紅利積點規則相關 API"
        },
        {
            "name": "limit_collections",
            "description": "商品限購群組相關 API"
        },
        {
            "name": "variant_discount_collections",
            "description": "單品折扣群組相關 API"
        },
        {
            "name": "custom_fields",
            "description": "新版自訂欄位相關 API"
        }
    ],
    "paths": {
        "/v1/assets/pictures": {
            "get": {
                "description": "取得商家 CKeditor 圖庫中的所有圖片",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得商家 CKeditor 圖庫中的所有圖片",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Asset_PicturesEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "assets"
                ],
                "operationId": "getV1AssetsPictures"
            },
            "post": {
                "description": "上傳圖片到商家的 CKeditor 圖庫中",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "picture",
                        "description": "欲上傳的圖片",
                        "type": "file",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "上傳圖片到商家的 CKeditor 圖庫中",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Asset_PicturesEntity"
                        }
                    }
                },
                "tags": [
                    "assets"
                ],
                "operationId": "postV1AssetsPictures"
            }
        },
        "/v1/assets/pictures/{picture_id}": {
            "delete": {
                "description": "透過圖片 ID 刪除 CKeditor 圖庫中的圖片",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "picture_id",
                        "description": "欲刪除的圖片 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過圖片 ID 刪除 CKeditor 圖庫中的圖片",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Asset_PicturesEntity"
                        }
                    }
                },
                "tags": [
                    "assets"
                ],
                "operationId": "deleteV1AssetsPicturesPictureId"
            }
        },
        "/v1/customers/get_customer_id": {
            "get": {
                "description": "透過顧客 Email 或手機取得顧客 ID",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "customer_emails",
                        "description": "欲搜尋的顧客 Emails，用逗點分隔",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "customer_mobiles",
                        "description": "欲搜尋的顧客手機，用逗點分隔",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 Email 或手機取得顧客 ID",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_EmailsMobilesEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersGetCustomerId"
            }
        },
        "/v1/customers/get_customer_id_by_name": {
            "get": {
                "description": "透過顧客姓名取得顧客 ID (後綴模糊搜尋)，如 A 可以找到 Andy、amy、Allen，但無法找到 Cathy",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "customer_name",
                        "description": "欲搜尋的顧客姓名",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "description": "最多筆數(最多 50)",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客姓名取得顧客 ID (後綴模糊搜尋)，如 A 可以找到 Andy、amy、Allen，但無法找到 Cathy",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_NameEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersGetCustomerIdByName"
            }
        },
        "/v1/customers/{customer_id}/account_activation_url": {
            "get": {
                "description": "取得顧客帳戶啟用連結",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得顧客帳戶啟用連結",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_AccountActivationUrlEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdAccountActivationUrl"
            }
        },
        "/v1/customers/default_gender_options": {
            "get": {
                "description": "取得預設顧客註冊欄位「性別」，除了男性與女性",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "取得預設顧客註冊欄位「性別」，除了男性與女性",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_DefaultGenderOptionEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersDefaultGenderOptions"
            }
        },
        "/v1/customers/customer_groups/check_status/{job_id}": {
            "get": {
                "description": "取得群組內顧客資訊",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "job_id",
                        "description": "排程 ID",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得群組內顧客資訊",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomerGroupCustomersEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerGroupsCheckStatusJobId"
            }
        },
        "/v1/customers/customer_groups/schedule_customer_filter_worker": {
            "post": {
                "description": "進行顧客搜尋排程，需再利用排程 ID 透過 GET /v1/customers/customer_groups/check_status/{job_id} 取得群組內的顧客資訊",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "formData",
                        "name": "customer_group_id",
                        "description": "欲搜尋顧客群組 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "進行顧客搜尋排程，需再利用排程 ID 透過 GET /v1/customers/customer_groups/check_status/{job_id} 取得群組內的顧客資訊",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_JobIdEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerGroupsScheduleCustomerFilterWorker"
            }
        },
        "/v1/customers/customer_groups/update_customer_group_amounts": {
            "put": {
                "description": "更新所有顧客群組人數",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "200": {
                        "description": "更新所有顧客群組人數",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_JobIdEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerGroupsUpdateCustomerGroupAmounts"
            }
        },
        "/v1/customers/customer_groups": {
            "get": {
                "description": "取得所有顧客群組",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "customer_group_ids",
                        "description": "欲搜尋顧客群組 IDs(逗號分隔)",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "name",
                        "description": "欲搜尋顧客群組 名稱",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "group_type",
                        "description": "欲搜尋顧客群組 類別 ([default] ORFM預設分群; [custom] 自訂分群)",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得所有顧客群組",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomerGroupsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerGroups"
            }
        },
        "/v1/customers/tags": {
            "get": {
                "description": "取得所有顧客標籤",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得所有顧客標籤",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_CustomerTagsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersTags"
            }
        },
        "/v1/customers": {
            "get": {
                "description": "取得所有顧客資料",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "updated_at_start_time",
                        "description": "顧客資料更新起始時間 (YYYY-MM-DD hh:mm:ss)",
                        "type": "string",
                        "format": "date-time",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "updated_at_end_time",
                        "description": "顧客資料更新結束時間 (YYYY-MM-DD hh:mm:ss)",
                        "type": "string",
                        "format": "date-time",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "取得所有顧客資料",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomersEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1Customers"
            },
            "post": {
                "description": "建立顧客 (您已充分了解並同意，經由您匯入CYBERBIZ系統之會員資訊，為合法及有權蒐集，並已同意CYBERBIZ會員服務條款，謝謝！)",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "postV1Customers",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/postV1Customers"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "建立顧客 (您已充分了解並同意，經由您匯入CYBERBIZ系統之會員資訊，為合法及有權蒐集，並已同意CYBERBIZ會員服務條款，謝謝！)",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomersEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1Customers"
            }
        },
        "/v1/customers/{customer_id}/consume_bonus_points": {
            "post": {
                "description": "透過顧客 ID 扣除顧客紅利點數",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲扣除的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "amount",
                        "description": "紅利點數數量",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "consume_all",
                        "description": "是否消耗全部點數 (如果這欄是 true, 則可以不用填寫 amount)",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "description": "透過顧客 ID 扣除顧客紅利點數"
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerIdConsumeBonusPoints"
            }
        },
        "/v1/customers/{customer_id}/update_register_code_and_accepts_marketing": {
            "post": {
                "description": "第三方登入更新顧客註冊人推薦碼與是否接受行銷狀態",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "顧客id",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "secret_key",
                        "description": "第三方在Cyberbiz設定的識別key",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "register_code",
                        "description": "註冊人推薦碼",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "accepts_marketing",
                        "description": "是否接受行銷訊息",
                        "type": "boolean",
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "description": "第三方登入更新顧客註冊人推薦碼與是否接受行銷狀態"
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerIdUpdateRegisterCodeAndAcceptsMarketing"
            }
        },
        "/v1/customers/{customer_id}": {
            "get": {
                "description": "透過顧客 ID 取得該顧客資料",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客資料",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomerEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerId"
            },
            "put": {
                "description": "透過顧客 ID 更新該顧客資料",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲更新的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "name": "putV1CustomersCustomerId",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/putV1CustomersCustomerId"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 更新該顧客資料",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomerEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerId"
            }
        },
        "/v1/customers/{customer_id}/bonus_points": {
            "get": {
                "description": "透過顧客 ID 取得該顧客的所有紅利",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋紅利的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客的所有紅利",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_BonusPointsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdBonusPoints"
            },
            "post": {
                "description": "透過顧客 ID 建立該顧客的紅利",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋紅利的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "紅利名稱",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "points",
                        "description": "紅利點數",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "consumption_price",
                        "description": "產生此紅利的消費金額",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "deadline",
                        "description": "到期日 (YYYY-MM-DD hh:mm:ss) 或填 0 為無期限",
                        "type": "string",
                        "format": "date-time",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "透過顧客 ID 建立該顧客的紅利",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_BonusPointsEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerIdBonusPoints"
            }
        },
        "/v1/customers/{customer_id}/bonus_points/{bonus_point_id}": {
            "put": {
                "description": "透過顧客 ID 與紅利 ID 更新紅利",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋紅利的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "bonus_point_id",
                        "description": "欲更新的紅利 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "紅利名稱",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "bonus_points_diff",
                        "description": "紅利變動 (+/-數量)",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "deadline",
                        "description": "到期日 (YYYY-MM-DD hh:mm:ss)",
                        "type": "string",
                        "format": "date-time",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "points",
                        "description": "紅利點數",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "unused_points",
                        "description": "尚未使用點數",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與紅利 ID 更新紅利",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_BonusPointsEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerIdBonusPointsBonusPointId"
            },
            "delete": {
                "description": "透過顧客 ID 與紅利 ID 刪除紅利",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋紅利的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "bonus_point_id",
                        "description": "欲刪除的紅利 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與紅利 ID 刪除紅利",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_BonusPointsEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "deleteV1CustomersCustomerIdBonusPointsBonusPointId"
            }
        },
        "/v1/customers/{customer_id}/orders": {
            "get": {
                "description": "透過顧客 ID 取得該顧客的所有訂單",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客的所有訂單",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_OrdersEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdOrders"
            }
        },
        "/v1/customers/{customer_id}/message_posts": {
            "get": {
                "description": "透過顧客 ID 取得該顧客的所有客服問答",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客的所有客服問答",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_MessagePostEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdMessagePosts"
            }
        },
        "/v1/customers/{customer_id}/coupons": {
            "get": {
                "description": "透過顧客 ID 取得該顧客的所有個人優惠券",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋個人優惠券的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "order_price_threshold_lteq",
                        "description": "最小消費金額大於等於",
                        "type": "number",
                        "format": "float",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "coupon_types",
                        "description": "折扣種類 ([amount] 金額; [percent] 百分比; [free_shipping] 免運) (逗點區隔)",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "tags",
                        "description": "有綁定的商品標籤 (逗點區隔)",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "only_valid",
                        "description": "目前可使用",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客的所有個人優惠券",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CouponsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdCoupons"
            },
            "post": {
                "description": "透過顧客 ID 建立該顧客的個人優惠券",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋個人優惠券的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "名稱",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "code",
                        "description": "序號",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "coupon_type",
                        "description": "折扣種類 ([amount] 金額; [percent] 百分比)",
                        "type": "string",
                        "enum": [
                            "amount",
                            "percent",
                            "free_shipping",
                            "gift"
                        ],
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "value",
                        "description": "折扣內容",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "order_price_threshold",
                        "description": "最小消費金額",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "start_date",
                        "description": "使用起始日期 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "end_date",
                        "description": "使用結束日期 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "usage_limit",
                        "description": "使用次數上限",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "concurrently_apply",
                        "description": "是否與「任選折扣群組」或「全館活動」併用 (請和 restrict_strategy 擇一使用）",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "restrict_strategy",
                        "description": "與其他行銷活動併用限制 類型  (請和 concurrently_apply 擇一使用）([unrestricted] 所有行銷活動商品皆可使用此優惠券; [restrict] 除指定活動商品外，其他商品可使用此優惠券; [forbidden] 訂單包含指定活動商品時，不得使用此優惠券)",
                        "type": "string",
                        "enum": [
                            "unrestricted",
                            "restrict",
                            "forbidden"
                        ],
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "restrict_campaigns[]",
                        "description": "與其他行銷活動併用限制 活動 (vip_custom_price_discount: 會員專屬價格; variant_discount: 單品折扣; bundle_discount: 紅配綠多組合優惠; special_collection_discount: 任選折扣; category_campaign_discount: 分類優惠折扣; shop_discount: 全館折扣; vip_discount: VIP 折扣; referral_discount: 推薦碼折扣; add_buy_discount: 加價購)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "tags[]",
                        "description": "優惠券綁定商品標籤（ 留空則不綁定 ）",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false
                    }
                ],
                "responses": {
                    "201": {
                        "description": "透過顧客 ID 建立該顧客的個人優惠券",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CouponsEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerIdCoupons"
            }
        },
        "/v1/customers/{customer_id}/coupons/{coupon_id}": {
            "get": {
                "description": "透過顧客 ID 與優惠券 ID 取得個人優惠券",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋個人優惠券的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "coupon_id",
                        "description": "欲搜尋的優惠券 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與優惠券 ID 取得個人優惠券",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CouponEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdCouponsCouponId"
            },
            "put": {
                "description": "透過顧客 ID 與優惠券 ID 更新個人優惠券",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋個人優惠券的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "coupon_id",
                        "description": "欲更新的優惠券 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "title",
                        "description": "名稱",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "code",
                        "description": "序號",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "coupon_type",
                        "description": "折扣種類 (金額 or 百分比)",
                        "type": "string",
                        "enum": [
                            "amount",
                            "percent",
                            "free_shipping",
                            "gift"
                        ],
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "value",
                        "description": "折扣內容",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "order_price_threshold",
                        "description": "最小消費金額",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "start_date",
                        "description": "使用起始日期 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "end_date",
                        "description": "使用結束日期 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "usage_limit",
                        "description": "使用次數上限",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "used_times",
                        "description": "使用次數",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "concurrently_apply",
                        "description": "是否與「任選折扣群組」或「全館活動」併用",
                        "type": "boolean",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "restrict_strategy",
                        "description": "與其他行銷活動併用限制 類型  (請和 concurrently_apply 擇一使用）([unrestricted] 所有行銷活動商品皆可使用此優惠券; [restrict] 除指定活動商品外，其他商品可使用此優惠券; [forbidden] 訂單包含指定活動商品時，不得使用此優惠券)",
                        "type": "string",
                        "enum": [
                            "unrestricted",
                            "restrict",
                            "forbidden"
                        ],
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "restrict_campaigns[]",
                        "description": "與其他行銷活動併用限制 活動 (vip_custom_price_discount: 會員專屬價格; variant_discount: 單品折扣; bundle_discount: 紅配綠多組合優惠; special_collection_discount: 任選折扣; category_campaign_discount: 分類優惠折扣; shop_discount: 全館折扣; vip_discount: VIP 折扣; referral_discount: 推薦碼折扣; add_buy_discount: 加價購)",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "tags[]",
                        "description": "優惠券綁定商品標籤（ 留空則不綁定 ）",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與優惠券 ID 更新個人優惠券",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CouponEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerIdCouponsCouponId"
            },
            "delete": {
                "description": "透過顧客 ID 與優惠券 ID 刪除個人優惠券",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋個人優惠券的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "coupon_id",
                        "description": "欲刪除的優惠券 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與優惠券 ID 刪除個人優惠券",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CouponEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "deleteV1CustomersCustomerIdCouponsCouponId"
            }
        },
        "/v1/customers/{customer_id}/custom_fields": {
            "get": {
                "description": "透過顧客 ID 取得該顧客的所有自訂欄位",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客的所有自訂欄位",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdCustomFields"
            },
            "post": {
                "description": "透過顧客 ID 建立該顧客的自訂欄位",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "名稱",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "value",
                        "description": "內容",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "201": {
                        "description": "透過顧客 ID 建立該顧客的自訂欄位",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldsEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerIdCustomFields"
            },
            "put": {
                "description": "透過 JSON 格式更新或建立自訂欄位",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "name": "putV1CustomersCustomerIdCustomFields",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/putV1CustomersCustomerIdCustomFields"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過 JSON 格式更新或建立自訂欄位",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerIdCustomFields"
            },
            "delete": {
                "description": "透過顧客 ID 與自訂欄位 ID 刪除多個自訂欄位",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "custom_field_ids[]",
                        "description": "欲刪除的自訂欄位 ID",
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與自訂欄位 ID 刪除多個自訂欄位",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldsEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "deleteV1CustomersCustomerIdCustomFields"
            }
        },
        "/v1/customers/{customer_id}/custom_fields/{custom_field_id}": {
            "get": {
                "description": "透過顧客 ID 與自訂欄位 ID 取得自訂欄位",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "custom_field_id",
                        "description": "欲搜尋的自訂欄位 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與自訂欄位 ID 取得自訂欄位",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdCustomFieldsCustomFieldId"
            },
            "put": {
                "description": "透過顧客 ID 與自訂欄位 ID 更新自訂欄位",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "custom_field_id",
                        "description": "欲更新的自訂欄位 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "name",
                        "description": "名稱",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "value",
                        "description": "內容",
                        "type": "string",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與自訂欄位 ID 更新自訂欄位",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerIdCustomFieldsCustomFieldId"
            },
            "delete": {
                "description": "透過顧客 ID 與自訂欄位 ID 刪除自訂欄位",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋自訂欄位的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "custom_field_id",
                        "description": "欲刪除的自訂欄位 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與自訂欄位 ID 刪除自訂欄位",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomFieldEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "deleteV1CustomersCustomerIdCustomFieldsCustomFieldId"
            }
        },
        "/v1/customers/{customer_id}/uid_providers/{provider_type}": {
            "put": {
                "description": "透過 顧客 ID 更新/創立 LINE UID",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "provider_type",
                        "description": "UID Provider 類型",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "uid",
                        "description": "UID",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過 顧客 ID 更新/創立 LINE UID"
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerIdUidProvidersProviderType"
            },
            "get": {
                "description": "透過 顧客 ID 取得 LINE UID",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "provider_type",
                        "description": "UID Provider 類型",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過 顧客 ID 取得 LINE UID"
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdUidProvidersProviderType"
            }
        },
        "/v1/customers/{customer_id}/vip_info": {
            "get": {
                "description": "透過 顧客 ID 取得 VIP 資料",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過 顧客 ID 取得 VIP 資料",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_CustomerVipEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdVipInfo"
            }
        },
        "/v1/customers/{customer_id}/other_valid_orders/{other_valid_order_id}": {
            "get": {
                "description": "透過顧客 ID 與自訂欄位 ID 取得其他通路有效訂單",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋其他通路有效訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "other_valid_order_id",
                        "description": "欲搜尋的其他通路有效訂單 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與自訂欄位 ID 取得其他通路有效訂單",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_OtherValidOrdersEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdOtherValidOrdersOtherValidOrderId"
            },
            "put": {
                "description": "透過顧客 ID 與其他通路有效訂單 ID 更新其他通路有效訂單(extra_infos 需開通 Plugin 才可使用)",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋其他通路有效訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "other_valid_order_id",
                        "description": "欲更新的其他通路有效訂單 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "price",
                        "description": "訂單金額",
                        "type": "integer",
                        "format": "int32",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "valid_at",
                        "description": "成立時間 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[channel_name]",
                        "description": "通路名稱",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[invoice_no]",
                        "description": "發票編號",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[source]",
                        "description": "來源",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[note]",
                        "description": "備註",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[operator]",
                        "description": "操作人",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[products][][name]",
                        "description": "商品名稱",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[products][][quantity]",
                        "description": "數量",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[products][][price]",
                        "description": "單價",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與其他通路有效訂單 ID 更新其他通路有效訂單(extra_infos 需開通 Plugin 才可使用)",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_OtherValidOrdersEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "putV1CustomersCustomerIdOtherValidOrdersOtherValidOrderId"
            },
            "delete": {
                "description": "透過顧客 ID 與其他通路有效訂單 ID 刪除其他通路有效訂單",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋其他通路有效訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "path",
                        "name": "other_valid_order_id",
                        "description": "欲刪除的其他通路有效訂單 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 與其他通路有效訂單 ID 刪除其他通路有效訂單",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_OtherValidOrdersEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "deleteV1CustomersCustomerIdOtherValidOrdersOtherValidOrderId"
            }
        },
        "/v1/customers/{customer_id}/other_valid_orders": {
            "post": {
                "description": "透過顧客 ID 建立該顧客的其他通路有效訂單(extra_infos 需開通 Plugin 才可使用)",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋其他通路有效訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "price",
                        "description": "訂單金額",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "valid_at",
                        "description": "成立時間 (YYYY-MM-DD)",
                        "type": "string",
                        "required": true
                    },
                    {
                        "in": "formData",
                        "name": "uid",
                        "description": "UID",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[channel_name]",
                        "description": "通路名稱",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[invoice_no]",
                        "description": "發票編號",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[source]",
                        "description": "來源",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[note]",
                        "description": "備註",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[operator]",
                        "description": "操作人",
                        "type": "string",
                        "required": false
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[products][][name]",
                        "description": "商品名稱",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[products][][quantity]",
                        "description": "數量",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "formData",
                        "name": "extra_infos[products][][price]",
                        "description": "單價",
                        "type": "array",
                        "required": false,
                        "items": {
                            "type": "number",
                            "format": "float"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "透過顧客 ID 建立該顧客的其他通路有效訂單(extra_infos 需開通 Plugin 才可使用)",
                        "schema": {
                            "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_OtherValidOrdersEntity"
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "postV1CustomersCustomerIdOtherValidOrders"
            },
            "get": {
                "description": "透過顧客 ID 取得該顧客的所有其他通路有效訂單",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋其他通路有效訂單的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "page",
                        "description": "Page offset to fetch.",
                        "type": "integer",
                        "format": "int32",
                        "default": 1,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "per_page",
                        "description": "Number of results to return per page.",
                        "type": "integer",
                        "format": "int32",
                        "default": 50,
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "offset",
                        "description": "Pad a number of results.",
                        "type": "integer",
                        "format": "int32",
                        "default": 0,
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "透過顧客 ID 取得該顧客的所有其他通路有效訂單",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Cyberbiz_Entities_V1_Customer_OtherValidOrdersEntity"
                            }
                        }
                    }
                },
                "tags": [
                    "customers"
                ],
                "operationId": "getV1CustomersCustomerIdOtherValidOrders"
            }
        },
        "/v1/customers/{customer_id}/spending_overview": {
            "get": {
                "description": "透過顧客 ID 取得該顧客消費概況，包含「累積有效訂單消費金額 」、「累積有效訂單數」與「累積有效訂單平均金額」",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "customer_id",
                        "description": "欲搜尋個人消費概況的顧客 ID",
                        "type": "integer",
                        "format": "int32",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "start_date",
                        "description": "起始日期 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "end_date",
                        "description": "結束日期 (YYYY-MM-DD)",
                        "type": "string",
                        "format": "date",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
[...]
